.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}

.game-grid{
    display: flex;
    width:400px;
    flex-wrap: wrap;
    margin: auto;
}

.game-grid > button{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
}


.nonhighlight{
    opacity: .5;
}
.highlight{
    opacity: 1;
} 
.game-grid > button:hover{
    cursor: pointer;
}
.game-grid > button:hover:disabled{
    cursor: auto;
}

.game-over{
    width: 100vw;
    height: 100vh;
    z-index: 2;
  background-color: rgba(243, 242, 242, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;

}
.game-over button, .game-over h1, .game-over li{
    z-index: 3;
}
.game-over button{
    margin-top: 30px;
}

button:focus{
    outline: none
}
li{
    list-style: none;
}
.score{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 400px;
    margin: auto;
}
.score li{
    margin-left: 10px
}

.start-game, .change-link, .current-score{
    text-align: center;
    margin-top: 30px;
}

.change-link{
    display: flex;
    margin: auto;
    justify-content: center;
}
.score li{
    /* margin: auto; */
}
.current-score{
    text-align: center;
}
.name-input{
    display: flex;
    justify-content: center;
}
.name-input input{
    margin-left: 10px;
}
.reset-button{
    cursor: pointer;
}